.welcome button{
  padding: 10px 15px;
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(153, 0, 255, 0.959);
  color: #fff;
  font-weight: 700;
  cursor: pointer;

}

.welcome{
  width:100%;
  max-width: 480px;
  background-color: #fff;
  padding: 15px 30px;
}

.welcome h2{
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.welcome h2 span{
  color: #fe4880;
  font-weight: 700;
}